*pyc
resources.py
help/build
.vscode
asetukset.bat
Thumbs.db
kehitys.txt
kehitys_esim.txt
docs/sessions2.sql
sources/ykr_tool_transit_stop_emission_scenarios.py
ui/ykr_tool_transit_stop_emission_scenarios.ui
apu.py
pb_tool.cfg
muistiinpanoja.txt
